body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
}

ul {
  width: 250px;
}
.nav-color{
  margin-top: 0;
}
.container-mg{
  margin-right: 33%;
  margin-left: 33%;
  border: 1px solid #565656;
  border-radius: 25px;
}
.form-padding{
  width: 100%;
  padding: 25px 50px;
}